.navbar {
  background-color: #333;
  color: white;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-center {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

.search-bar {
  display: flex;
}

.search-bar input {
  padding: 0.4rem 0.8rem;
  border: 1px solid #555;
  border-right: none;
  border-radius: 4px 0 0 4px;
  background-color: #444;
  color: white;
  min-width: 300px;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}

.search-bar button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 1rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}

.nav-link:hover, .nav-link.active {
  color: #ddd;
  text-decoration: underline;
}

.btn-link {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: inherit; /* Match link font size */
  padding: 0.5rem; /* Match link padding */
}

.btn-link:hover {
  color: #ddd;
  text-decoration: underline;
}
